<h1>Listing Animals</h1>

<table class="table">
  <tr>
    <th>Certificate ID</th>
    <th>National ID</th>
    <th>Alternate Tag</th>
  </tr>

<% @animals.each do |animal| %>
  <tr>
    <td><%=h animal.certificate_id %></td>
    <td><%=h animal.national_id %></td>
    <td><%=h animal.alternate_tag %></td>
  </tr>
<% end %>
</table>

<br/>

<%= link_to 'Back to Certificates', certificates_path %>
